{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{template "title" .}} - Snippetbox</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
</head>

<body>
  <header>
    <h1><a href="/">Snippetbox</a></h1>
  </header>

  {{template "nav" .}}

  <main>
    {{template "main" .}}
  </main>
  <footer>Powered by <a href='https://golang.org/'>Go</a></footer>
  <script src="/static/js/main.js"></script>
</body>

</html>
{{end}}